<footer>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <ul class="nav navbar-nav inline-block">
        <% if logged_in? %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
          <!--<li><%= link_to 'MyPage', @current_restaurant %></li>-->
          <li><%= link_to 'MyPage', restaurant_path(@current_restaurant) %></li>
          <li><%= link_to 'Post', new_post_path %></li>
        <% else %>
          <li><%= link_to 'Signup', signup_path %></li>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!--<div class="text-center text-muted">Copyright © Foodlist All rights reserved.</div>-->
</footer>